/* ------------------------------------------------------------------- */
/* Purple #6957af
---------------------------------------------------------------------- */
a,
.header-widget li i,
.icon-box-4 i,
.icon-box-2 i,
.icon-box-2 span,
#breadcrumbs ul li a:hover,
.details li a:hover,
.meta-tags span a:hover,
.headline span.color,
a.button.border,
input[type="button"].border,
input[type="submit"].border,
.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before,
#breadcrumbs ul li a,
#header-container.basic #breadcrumbs ul li a,
.tabs-nav li a:hover,
.close-search a:hover,
.numbered.color ol > li::before,
#not-found i,
#backtotop a,
#posts-nav li a:hover,
.info-banner-fw a:hover,
.menu li.cart-icon a:hover,
.style-2 .trigger a:hover,
.style-2 .trigger.active a,
.style-2 .ui-accordion .ui-accordion-header-active:hover,
.style-2 .ui-accordion .ui-accordion-header-active,
.menu  li.search a:hover,
.tabs-nav li.active a {
	color: #6957af;
}

body,
.menu > li a.current,
.menu > li a:hover,
.menu li.dropdown ul,
.menu li .mega,
#price-range .ui-slider .ui-slider-handle,
a.button.border,
.numbered.color ol > li::before,
a.button.border:hover,
input[type="button"].border,
input[type="submit"].border,
input[type="button"].border:hover,
input[type="submit"].border:hover,
.tabs-nav li a:hover,
.tabs-nav li.active a,
.numbered.color.filled ol > li::before,
.custom-caption,
#backtotop a,
.trigger.active a,.post-categories li a,
.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active {
	border-color: #6957af;
}

.qtyplus:hover,
.qtyminus:hover,
.zeus .tp-title-wrap,
.mfp-arrow:hover,
#price-range .ui-slider .ui-slider-handle,
.flex-prev:hover, 
.flex-next:hover,
a.button.border::before,
.hover-border {
    background: #6957af;
}

.icon-box-1.rounded:hover i,
.icon-box-2.rounded:hover i,
.icon-box-3.rounded:hover i,
.menu ul .sfHover li a:hover,
.mega a:hover {
	background-color: #6957af !important;
}

.photo-section-btn:before,
a.button.border:hover,
li.dropdown ul li a:hover,
.menu ul .sfHover a,
.cart-counter,
.basic .menu-responsive,
a.icon-box-4:hover,
.project-category figure,
.see-all,
.style-5 .tabs-nav li.active a,
.option-set li a:hover,
.option-set li a.selected,
.projects a .overlay:after,
#testimonials:after,
#backtotop a:hover,
.service-alt a.img-hover:after,
a.sidebar-btn,
.sidebar-textbox.color,
#price-range .ui-widget-header,
.projects.style-2 a .overlay-content:after,
.projects.style-4 a .overlay-content:after,
.comment-by a.reply:hover,
#small-dialog .mfp-close,
.mfp-close:hover,
.counter-box-icon.colored,
.numbered.color.filled ol > li::before,
input[type="button"],
input[type="submit"],
input[type="button"].border:hover,
input[type="submit"].border:hover,
a.button,
.skill-bar-value,
#backtotop a,
.owl-prev:hover,
.owl-next:hover,
.office-address h3:after,
.projects.style-4 .expanded a .overlay-content:after,
.projects.style-4.og-grid a:hover .overlay-content:after,
a.button.dark:hover,
table.basic-table th,
.post-categories li a,
.post-quote,
.plan.color-2 .plan-price,
.plan.color-2 a.button,
.icon-box-1.rounded i,
.shop-item .add-to-cart:hover,
.icon-box-2.rounded i,
.icon-box-3.rounded i,
.trigger.active a,
.style-4 .tabs-nav li.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active,
.info-banner-fw,
.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a,
.plan-features a.button:hover,
.share-buttons ul li:first-child a,
.services-list li a.active,
.tags a:hover,
.services-list li a:hover,
.loading-icon,
.menu.alt > li > a:before,
.menu.alt2 li a::before,
.rsDefaultInv .rsThumb.rsNavSelected .rsTmb:before,
.main-color-bg,
mark.color {
	background-color: #6957af;
}

.counter-boxes-inside-parallax .counter-box-icon i { color: #6957af !important; }
@media (max-width: 991px) { .tabs-nav li.active a { background-color: #6957af; } }
#loader { border-top-color:#6957af; }